spring:
  application:
    name: termbase

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

logging:
  level:
    org.hibernate.SQL: trace
    org.hibernate.orm.jdbc.bind: trace

slack:
  bot-token: ${SLACK_BOT_TOKEN:}
  workspace-id: ${SLACK_WORKSPACE_ID:}
